* {
    margin: 0px;
    padding: 0px;
}

.allcontainar {
    width: 1350px;
    margin: 0px auto;
}

.headcontainar {
    width: 82%;
    max-width: 1320px;
    height: 600px;
    background-image: url('../resources/BannerImage.png'),
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 12px;
    margin: 35px auto;
    align-items: center;
    justify-content: center;
}

.headtxt {
    width: 50%;
    max-width: 630px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.headtxt>h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.headtxt>h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newyearcontainar {
    width: 50%;
    max-width: 802px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    display: block;
}

.newyearimage>img {
    width: 82%;
    max-width: 660px;
    max-height: 450px;
    padding-left: 100px;
}

.newyeartxt {
    display: block;
    justify-content: center;
    text-align: center;
    width: 82%;
    max-height: 290px;
    max-width: 350px;
    padding-left: 100px;
}

.newyeartxt>h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.newyeartxt>p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.newyeartxt>h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* wellcome */
.wellcomecontainar {
    width: 82%;
    max-width: 1320px;
    height: 550px;
    margin: 40px auto;
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.wellcomecontant {
    width: 68%;
    max-width: 1200px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
    margin: auto;
}

.wellcometxt {
    max-width: 620px;
}

.wellcometxt>h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    /* 137.5% */
    letter-spacing: 3.04px;
    margin-bottom: 5px;
}

.wellcometxt>p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
    margin-bottom: 5px;
}

.wellcometxt>button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: black;
}

/* datetime */
.datetimecontainar {
    width: 82%;
    max-width: 1320px;
    margin: 30px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 470px;
    border-radius: 12px;
    border: #F00 solid 3px;
    margin-bottom: 100px;

}

.datetime {
    text-align: center;
    max-width: 500px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    display: block;
    justify-content: center;
    align-items: center;

}

.daytime {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.typecolor {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.datetime>button {
    margin-top: 8px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
}

/* portfolio */
.portfoliocontainar {
    margin: 150px auto;
    width: 82%;
    max-width: 1320px;
    height: 780px;
    display: block;
}

.portimages {
    max-width: 1320px;
    height: 615px;
    display: block;
}

.image1,
.image2 {
    display: flex;
    width: 1320px;
    height: 310px;
    margin: 1px auto;
    gap: 22px;
    align-items: center;
    justify-content: flex-start;

}

.portimages img {
    width: 330px;
    height: 297px;

}

.portheader {
    padding-bottom: 15px;
}

.portheader>h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portheader>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portheader>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 800px;
    /* 160% */
}

/* holidays */
.holidaysimages {
    background-image: url('../resources/Rectangle2.png');
    background-position: bottom;
}

/* subscribe */
.subscontainar {
    width: 82%;
    max-width: 1320px;
    height: 550px;
    margin: 40px auto;
    border-radius: 12px;
    background: rgba(255, 0, 0, 0.05);
    ;
}

#gmail {
    max-width: 150px;
    max-height: 150px;
    display: block;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.substxt {
    margin: 0px auto;
    max-width: 750px;
    text-align: center;
}

.substxt>h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.substxt>p {
    margin-bottom: 8px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.subsinput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.subsinput>button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.subsinput>input[type="email"] {
    width: 450px;
    height: 72px;
    border: none;
    border-radius: 0px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* footerdedign */
footer{
    padding-top: 50px;
    background-color: black;
}
.footercontainar {
    position: relative;
    width: 82%;
    max-width: 1320px;
    height: 500px;
    margin: 40px auto;
    background-color: black;
}

.add {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 375px;
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.contac {
    position: absolute;
    left: 70%;
    top: 15%;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.contac>a {
    text-decoration: none;
    align-items: center;
}

.icons {
    position: absolute;
    top: 40%;
    left: 30%;
}

.icons>img {
    padding-left: 20px;
}

.copyright {
    position: absolute;
    top: 75%;
    left: 10%;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.unsubscribe {
    position: absolute;
    top: 75%;
    left: 78%;
}
.unsubscribe>button{
    background-color: black;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}